##  Shreyas Kulkarni(sk385)
##  Soham Gupte(sohamgup)

In [3]:
import pandas as pd
#Joining and Grouping
df_w_age = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "age": [60, 25, 33]
 })
df_w_height = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "height": [6.2, 4.0, 5.5]
 })
joined = df_w_age.set_index("name").join(
df_w_height.set_index("name"))
print (joined)

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5

In [4]:
print (joined.reset_index())

     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5

In [5]:
#Groupby function
df = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "age": [60, 25, 33],
"height": [6.2, 4.0, 5.5],

"gender": ["M", "M", "F"]
 })
print (df.groupby("gender").mean())

         age  height
gender
F       33.0     5.5
M       42.5     5.1

#Chapter 4

In [6]:
"ABC\t".strip()

'ABC'

In [7]:
" ABC\t".lstrip()

'ABC\t'

In [8]:
" ABC\t".rstrip()
"ABC".strip("C")

'AB'

In [13]:
s = "abc\xFF"
print (s)

abc√ø

In [16]:
import dateutil.parser as p
p.parse("August 13, 1985")

datetime.datetime(1985, 8, 13, 0, 0)

In [17]:
p.parse("2013-8-13")

datetime.datetime(2013, 8, 13, 0, 0)

In [18]:
p.parse("2013-8-13 4:15am")

datetime.datetime(2013, 8, 13, 4, 15)

In [28]:
def get_first_last_name(s):
 INVALID_NAME_PARTS = ["mr", "ms", "mrs","dr", "jr", "sir"]
 parts = s.lower().replace(".","").strip().split()
 parts = [p for p in parts if p not in INVALID_NAME_PARTS]
 if len(parts)==0:
  raise ValueError("Name %s is formatted wrong" % s)
 first, last = parts[0], parts[-1]
 first = first[0].upper() + first[1:]
 last=last[0].upper() + last[1:]
 return first, last
def format_age(s):
 chars = list(s) # list of characters
 digit_chars = [c for c in chars if c.isdigit()]
 return int("".join(digit_chars))
def format_date(s):
    MONTH_MAP = {"jan": "01", "feb": "02", "may": "03"}
    s = s.strip().lower().replace(",", "")
    m, d, y = s.split()
    if len(y) == 2: y = "19" + y
    if len(d) == 1: d = "0" + d
    return y + "-" + MONTH_MAP[m[:3]] + "-" + d
import pandas as pd
df = pd.read_csv("file.tsv", sep="|")
df["First Name"] = df["name"].apply(
lambda s: get_first_last_name(s)[0])
df["Last Name"] = df["name"].apply(
lambda s: get_first_last_name(s)[1])
df["Age"] = df["Age"].apply(format_age)
df["Birthdate"] = df["Birthdate"].apply(
format_date).astype(pd.datetime)
print (df)

                name  Age   Birthdate First Name Last Name
0  Ms. Janice Joplin   65  1943-01-19     Janice    Joplin
1         Bob Dylan    74  1941-03-24        Bob     Dylan
2     Billy Ray Joel   66  1941-02-09      Billy      Joel

In [30]:
import re
# This matches "1600 Pennsylvania Ave."
# It does NOT match "5 Stony Brook St"
# cuz there is a space in "Stony Brook"
street_pattern = r"^[0-9]\s[A-Z][a-z]*" + \
r"(Street|St|Rd|Road|Ave|Avenue|Blvd|Way|Wy)\.?$"
# Like the one above, this assumes
# there is no space in the town name
city_pattern = r"^[A-Z][a-z]*,\s[A-Z]{2},[0-9]{5}$"
address_pattern = street_pattern + r"\n" \
+ city_pattern
# Compile the string into a regular expression object
address_re = re.compile(address_pattern)
text = open("address.txt", "r").read()
matches = re.findall(address_re, text)
# list of all strings that match
open("addresspace.txt",
"w").write("\n\n".join(matches))

0

In [31]:
pattern = "\n"
my_re = re.compile(pattern)

In [33]:
# Escape the slash w another
slash_pattern = "\\n"
# This matches a newline
newline_re = re.compile(pattern)